<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Photo:</strong>
    <% if product.photo.present? %>
      <%= image_tag(product.photo, class:"w-10 h-10") %>
      <% else %>
      <img src="" alt="photo">
    <% end %>
    
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
